html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

h1 {
    color:red;

    border: 10px violet solid;
    border-radius: 10px;
    background-color: aquamarine;
}

img {
    height: 100px;
    border-radius: 130px;
}

p {
    color: pink;
    border: solid;
}

p {
    background-image: url("./mn.jpg") ;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

